_book/
_freeze/
/.quarto/
*.tex
!assets/latex/*.tex
*.log
*.aux
__pycache__/
*.egg-info/
.pytest_cache/
/tmp/
index_files/
*_files/
site_libs/
.ipynb_checkpoints/

**/*.quarto_ipynb
.cache/

# stray output from interrupted Quarto renders
*.html
!site/*.html
*_files/
